/**
* The webapp main styling file
*/
*{
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	/*
	Commited from form input insert problem

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	*/
}
body{
	font-family: Helvetica, Arial;
}

/* Start of the main.css rules overriding */

.page_content {
	font-size: inherit !important;
	width: inherit !important;
	margin: 5px 15px 0 !important;
}
.page_content div{
	max-width: inherit !important;
}
.webapp_link_title{
	width: inherit !important;
	right: 50px;
}
.category_title {
	width: inherit !important;
	right: 130px;
}
.tag_title{
	width: inherit !important;
	left: 22px !important;
	right: 130px;
}
.video_wrapper {
	position: relative !important;
	float: none !important;
}
.video_title {
	width: inherit !important;
	right: 40px;
}
.video_description {
	width: inherit !important;
	right: 40px;
}
.album_item_title {
	width: inherit !important;
	right: 40px;
}
.album_item, .wiziapp_pages_item {
	font-size: 14px !important;
}

/* Finish of the main.css rules overriding */

.single .ui-page{
	background: #fff;
}
.hidden{
	display: none;
}
div.ui-content{
	padding: 0;
}
#splash .ui-content{
	padding: 0px;
}
#splash img{
	width: 100%;
	height: 100%;
}
.ui-page{
	width: 320px;
}
.ui-page .ui-content .ui-listview{
	margin:  0px;
}
.nav-tabbar .ui-btn .ui-icon {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

.nav-tabbar .ui-btn-active{
	background:#444;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 1px #000;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#666),to(#444));
	background-image:-webkit-linear-gradient(#666,#444);
	background-image:-moz-linear-gradient(#666,#444);
	background-image:-ms-linear-gradient(#666,#444);
	background-image:-o-linear-gradient(#666,#444);
	background-image:linear-gradient(#666,#444);
	border-color:  #444;
}
.nav-tabbar .ui-btn-up-a{
	background: none;
}
.show-admin-bar{
	display:none;
}
.list_tabbar span span.ui-btn-text{
	font-size: 11px;
	top: 6px;
}

.ui-page .ui-btn-hover-c{
	background: none;
	border: 0px none;
}
.ui-li-static.ui-li.sep{
	border: 0px none;
	height: 1px;
	padding:  0px;
}
div.comments_screen ul li.ui-li-static.ui-li.sep{
	margin: 14px 0;
}
/*
This rule cause broken arrows in the left side of the data-role="listview" screen
.ui-page .ui-li .ui-icon-arrow-r{
background: transparent url("images/more_cell_item.png") no-repeat center center;
}
*/
.ui-page .ui-icon-shadow {
	box-shadow: none;
}
.ui-header{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.ui-header a, .ui-header a:active, .ui-header a:visited{
	color: #FFFFFF;
	text-decoration: none;
}
.ui-header .navigation_back_button_wrapper span{
	display: block;
}
.ui-header .navigation_back_button_wrapper.ui-shadow{
	box-shadow: none;
}
.ui-header .navigation_back_button_wrapper .ui-btn-inner{
	padding: 0px;
	border: 0px none;
}

.navigation_back_button_wrapper, .navigation_back_button_wrapper:active, .navigation_back_button_wrapper:visited {
	background: url("images/back-but-left.png") no-repeat top left !important;
	position: relative;
	height: 30px;
	float: left;
	padding-right: 18px;
	z-index: 2;
	font-weight: bold;
}

.navigation_back_button{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	cursor: pointer;
	background: url("images/back-but-mid.png") repeat-x top left;
	margin-left:13px;
	padding: 0 20px;
	margin-right:5px;
}

.navigation_back_button_closer{
	background: url("images/back-but-right.png") no-repeat top left;
	right: 0;
	position: absolute;
	height: 30px;
	width: 5px;
	top: 0;
	z-index: 2;
}
.navigation_back_button_opener{
	background: url("images/back-but-opener.png") no-repeat top left;
	left: 8px;
	position: absolute;
	height: 30px;
	width: 5px;
	top: 0;
	z-index: 2;
}
#moreScreen .ui-content li:hover{
	background: rgb(84,176,247) repeat;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.35, rgb(53,137,240)),
	color-stop(0.84, rgb(84,176,247))
	);
	background-image: -moz-linear-gradient(
	center bottom,
	rgb(53,137,240) 35%,
	rgb(84,176,247) 84%
	);
}

#moreScreen .ui-content li a{
	padding-left: 45px;
	color: #000;
}
#moreScreen .ui-content li.ui-btn-active a{
	color: #FFF;
}
.content_iframe {
	width: 100%;
	height: 100%;
}
.default a{
	color: inherit;
}
.effect{
	position: absolute;
	top: 0px;
	left: 0px;
	background: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 8px;
	background-position: top center;
	background-repeat: no-repeat;
}
.ui-mobile .ui-body-c, .ui-dialog.ui-overlay-c{
	text-shadow: none;
}
.ui-mobile .ui-header .ui-btn-right{
	top: 0.2em;
}
.ui-mobile .ui-btn-inner{
	border-top:  0px none;
}

/** cell items **/

.showMoreCellItem .ui-btn-inner, .showMoreCellItem .ui-btn-text{
	height: 100%;
}
.showMoreCellItem.more{
	height: 78px;
}
.showMoreCellItem.more .more_title{
	top: 30px;
}
.full{
	width: 100%;
	height: 100%;
	display: block;
}
.featured_post{
	border: none !important;
}
.webapp_image_overriding{
	position: relative !important;
}
div.webapp_image_overriding.featured_post_image{
	width: 100%;
	background-repeat: no-repeat;
}
div.webapp_image_overriding.featured_post_image img{
	width: 100%;
	position: absolute;
	top: -20%;
}
.featured_webapp_decor{
	height: 60px;
	position: relative;
	top: -60px;
}
.general_post_numOfComments_webapp{
	height: 40px;
	right: 36px;
	text-align: center;
	top: 19px;
	width: 24px;
}
.category_posts_number{
	width: 50px;
	height: 15px;
	top: 15px;
	right: 40px;
	font-size: 12px;
	line-height: 12px;
}
.webapp_post_title{
	height: 40px;
	white-space: normal;
	line-height: 21px;
	font-weight: bolder;
	font-family: Helvetica, Arial;
}
.featured_post_title_webapp{
	text-shadow: none;
	color: white;
	top: 107px;
	left: 15px;
	right: 15px;
}
.general_post_title_webapp{
	top: 12px;
	left: 94px;
	right: 70px;
}
.webapp_post_details{
	width: auto;
	font-size: 12px;
}
.webapp_post_date{
	position: static;
	margin-right: 10px;
}
.featured_post .webapp_post_details{
	text-shadow: none;
	color: white;
	top: 148px;
	left: 15px;
}
.general_post .webapp_post_details{
	top: 55px;
	left: 94px;
}

.cellItem .ellipsis{
	text-overflow: ellipsis;
}
.cellItem .warp_line{
	white-space: pre-wrap;
	line-height: 1.2em;
}
.cellItem{
	position: relative;
}
.cellItem .attribute, .cellItem .combined_attributes{
	position: absolute;
	overflow: hidden;
}

.ui-page .ui-content .ui-listview .cellItem a.actionURL{
	padding:  0px;
	margin:  0px;
	text-decoration: none;
	cursor: pointer;
}
.ui-page .ui-li.cellItem .ui-btn-inner a.ui-link-inherit, .ui-page .ui-li-static.ui-li.cellItem{
	padding:  0px;
	margin:  0px;
}
.link_to_page{
	height: 41px;
}

.audioCellItem .audio_button_stop{
	display: none;
}

.audioCellItem.playing .audio_button_stop{
	display: block;
}

.audioCellItem .audio_slider{
	display: none;
	position: absolute;
}

.audioCellItem.playing .audio_slider{
	display: block;
}

.ui-page .audioCellItem.audio_selected {
	width: auto !important;
	background-repeat: no-repeat;
}

/** End cell items */
/** Webview **/

.header{
	height: 35px;
	clear: both;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	padding: 5px 0px;
	color:#fff;
}
.nav_fav_btn{
	height:30px;
	width:29px;
}
.navigation_button_favorite_effect{
	z-index:100;
}
.webview_bar.ui-navbar ul{
	height: 44px;
	overflow: visible;
}
.webview_bar.ui-navbar ul li{
	height: 44px;
}
.webview_bar .button_wrapper{
	padding: 1px 5px;
	position: absolute;
	width: 50px;
	height: 31px;
	top: 8px;
}
.webview_bar .button_wrapper, .webview_bar .button_wrapper div{
	position: absolute;
}
.webview_bar .left_right_buttons_wrapper{
	height: 31px;
	width:87px;
	margin: 0 auto;
	direction: ltr;
}
.webview_bar .share_button_wrapper{
	left: 16px;
}
.post_button_share{
	width: 26px;
	height: 22px;
	margin: 9px auto auto auto !important;
	border: none !important;
}
.font_panel{
	width: 155px;
	height: 67px;
	z-index: 999;
	position: absolute;
	top: -64px;
	left: -62px;
}
.plus_button{
	height:31px;
	left:29px;
	position:absolute;
	top:9px;
	width:31px;
	cursor: pointer;
}
.minus_button{
	height:31px;
	left:94px;
	position:absolute;
	top:9px;
	width:31px;
	cursor: pointer;
}
.post_button_fontsize{
	position: relative;
	width: 30px;
	height: 18px;
	top: 10px;
	cursor: pointer;
	margin: 0 auto;
}
.post_toolbar_buttons{
	height: 18px;
	width: 16px;
	display: inline-block !important;
	border: none !important;
}
.left_enabled{
	margin: 10px 40px 0 0 !important;
	border: medium none !important;
}
.left_disabled{
	cursor: default !important;
	margin: 10px 40px 0 0 !important;
	border: medium none !important;
}
.right_enabled{
	margin: 10px 0 0 0 !important;
}
.right_disabled{
	cursor: default !important;
	margin: 10px 0 0 0 !important;
}
.ratingPopup{
	background: url("images/dialogbox.png") no-repeat;
	width: 286px;
	height: 182px;
	color: #fff;
	position: absolute;
	top: 127px;
	left: 20px;
	z-index: 999;
}
.ratingPopupContent{
	margin: 13px;
	font-size: 14px;
	text-align: center;
}

.ratingStars{
	height: 24px;
	width: 120px;
	background: url("images/rating_star.png") repeat-x;
	margin: 5px auto;

}
.ratingPopup h1{
	font-size: 16px;
	margin: 0px 0px 7px 0px;
}
.ratingPopup button{
	background: url("images/dialogbox-but.png") repeat-x;
	width: 128px;
	height: 44px;
	border: 0px none;
	color: #fff;
	font-weight: bold;
	outline: none;
}
.ratingPopup button.selected{
	background: url("images/dialogbox-but.png") repeat-x;
}
.ratingPopup .notice{
	color: #FFFF00;
}
.sharing_menu{
	position: absolute;
	left: -16px;
	background: #434955;
	z-index: 999;
	background: #454B57 url("images/sharing_panel_bg.png") repeat-x top left;
}
.sharing_menu .title{
	font-size: 12px;
	text-align: center;
	line-height: 12px;
}
.sharing_menu .notice{
	color: #FFFF00;
}
.ui-page .sharing_menu{
	padding: 10px 0px;
}
.sharing_provider, .cancle_sharing_menu{
	width: 300px;
	margin: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;

	border-color: #34393F;
	background-color: #B9B9BB;
	border: 1px solid;
	text-align: center;
	height: 35px;
	line-height: 35px;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	font-size: 18px;

}
.sharing_menu .enabled{
	display: block;
}
.sharing_menu .disabled{
	display: none;
}
.sharing_provider{
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.25, rgb(236,236,238)),
	color-stop(0.49, rgb(208,209,211)),
	color-stop(0.51, rgb(183,183,185)),
	color-stop(1, rgb(188,191,196))
	);
	background-image: -moz-linear-gradient(
	center top,
	rgb(236,236,238) 25%,
	rgb(208,209,211) 49%,
	rgb(183,183,185) 51%,
	rgb(188,191,196) 100%
	);
}
.sharing_provider:hover, .cancle_sharing_menu:hover{
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.35, rgb(53,137,240)),
	color-stop(0.84, rgb(84,176,247))
	);
	background-image: -moz-linear-gradient(
	center bottom,
	rgb(53,137,240) 35%,
	rgb(84,176,247) 84%
	);
}
.cancle_sharing_menu{
	background-color: #020202;
	border-color: #000;
	color: #fff;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.49, rgb(97,95,96)),
	color-stop(0.5, rgb(51,51,51)),
	color-stop(1, rgb(0,0,0))
	);
	background-image: -moz-linear-gradient(
	center top,
	rgb(97,95,96) 49%,
	rgb(51,51,51) 50%,
	rgb(0,0,0) 100%
	);
}

/** End Webview **/
/* Start Video page */

.video_page_description{
	margin-top: 20px;
}

/* End Video page */
/* Start about screen */

.about_screen .info_container{
	position: relative;
}
.about_screen .info_container .aboutContent{
	white-space: pre-wrap;
	position: relative;
	padding-bottom: 20px;
}
.about_screen .attribute{
	position: absolute;
}

/* End about screen */
/** Gallery screen */

.screen.gallery_screen_grid {
	background-color: #FFFFFF !important;
	background-image: none !important;
	padding-left: 3px !important;
	padding-top: 5px !important;
}
.gallery_screen_grid .attribute{
	display: block;
}
.gallery_screen_grid .effect{
	display: none;
}
.gallery_screen_grid .ui-li-static.ui-li.sep{
	display: none;
}
.gallery_screen_grid .ui-li .ui-btn-inner a.ui-link-inherit,
.gallery_screen_grid .ui-li-static.ui-l{
	padding:  0px;
}
.ui-page .ui-content .imageGalleryCellItem{
	float: left;
	margin: 2px;
}
.ui-page .ui-content .imageGalleryCellItem,
.ui-page .ui-content .imageGalleryCellItem a .imageURL,
.ui-page .ui-content .imageGalleryCellItem .imageURL,
.ui-page .gallery_item_image{
	height: 73px;
	width: 73px;
	padding:  0px;
}
.ui-page .gallery_item_image{
	-moz-border-radius:0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}
.ui-page .ui-content .imageGalleryCellFinal{
	clear: both;
}

/* End gallery screen */
/** Start Favorites */

#favorites .delete_icon{
	display: none;
	margin-left: 10px;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;

	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

#favorites.editing .delete_icon{
	display: block;
	width: 28px;
	float: left;
	background: url("images/delete_icon_bg.png") no-repeat center center;
}

#favorites .delete_icon.btn_mode{
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#favorites.editing .delete_button{
	position: absolute;
	right: 5px;
	top: 35%;
	background: url("images/delete_button_bg.png") no-repeat center center;
	color: #fff;
	z-index:2;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 0.9em;
}

#favorites.editing .screen .ui-btn-text{
	margin-left: 40px;
}

.delete_button{
	display: none;
	width: 0px;
}

/* End Favorites */
/* Start of the Comments Screen */

.comment_author_avatar{
	float: left;
	width: 40px;
	height: 40px;
}
.comment_author_details{
	float: left;
	width: 160px;
	margin-left: 10px;
	line-height: 20px;
}
.comment_replyButton{
	float: left;
	margin-top: 10px;
	cursor: pointer;
}
.comment_body {
	clear: both;
	font-weight: normal;
	line-height: 17px;
	padding-top: 12px;
}
.post_button_show_comments{
	width: 20px;
	height: 28px;
	margin: 9px auto auto auto !important;
	border: none !important;
}
a.post_button_show_comments span.ui-btn-inner{
	padding: 2px 0 !important;
}
a.post_button_show_comments span.ui-btn-inner span.ui-btn-text{
	color: #4D5971;
	font-size: 15px;
	font-weight: normal;
}
div.comment_reply_form{
	display: none;
	margin: 0 20px;
}
div.comment_reply_form div.ui-field-contain{
	border: medium none;
}
div.comment_reply_form label.ui-input-text{
	display: inline-block;
	width: 20%;
	margin: 0;
}
div.comment_reply_form input.ui-input-text{
	display: inline-block;
	width: 80%;
}
#comment_reply_root{
	position: absolute;
	top: 6px;
	right: 5px;
	width: 36px;
	height: 30px;
	background: url("images/add_comment.png");
	cursor: pointer;
}
#webapp_send_comments_form{
	background: none !important;
	display: none;
}
li.comment_welcome_main div{
	background: url("images/welcome_to_comments.png") no-repeat top right;
	background-size: 100%;
	height: 700px;
	margin: -10px -20px 0 0;
}

/* Finish of the Comments Screen */
/* jQuery-Mobile-SimpleDialog Plugin */

.ui-simpledialog-header h4 { margin-top: 5px; margin-bottom: 5px; text-align: center; }
.ui-simpledialog-container { border: 5px solid #111 !important; width:85%; max-width:500px;}
.ui-simpledialog-screen { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.ui-simpledialog-hidden { display: none; }
.ui-simpledialog-input { width: 85% !important; display: block !important; margin-left: auto; margin-right: auto;}
.ui-simpledialog-screen-modal { background-color: black; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80); }
.ui-simpledialog-subtitle { text-align: center; }
.ui-simpledialog-controls .buttons-separator {min-height: .6em;}
.ui-simpledialog-controls .button-hidden { display:none; }

.ui-dialog .ui-simpledialog-container { border: none !important; }
.ui-dialog-simpledialog .ui-content { padding: 5px !important;}

/* End jQuery-Mobile-SimpleDialog Plugin */
/* Image viewer */

.image_viewer .content {
	background-color: #101010 !important;
	background-image: none !important;
}
.image_viewer .all-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.image_viewer .single-wrapper {
	position: relative;
	width: 100%;
}
.image_viewer .single-wrapper-displaced {
	position: absolute;
	overflow: hidden;
	left: 200%;
}
.image_viewer .direct-wrapper {
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
	height: 1px;
	top: -10px;
	line-height: 0;
}

/* End Image viewer */

#wiziapp_openxad_body div.ui-content {
	text-align: center;
}