.general_post_numOfComments_webapp{
	background: url("images/CommentsNew.png");
}

.webview_bar{
	background: url("images/cuts_nav_bar.png") repeat-x;
}

.post_button_share{
	background: url("images/cuts_send.png") !important;
}

.left_enabled{
	background: url("images/cuts_arrow_left.png") !important;
}

.left_disabled{
	background: url("images/cuts_arrow_left_dis.png") !important;
}

.right_enabled{
	background: url("images/cuts_arrow_right.png") !important;
}

.right_disabled{
	background: url("images/cuts_arrow_right_dis.png") !important;
}

.post_button_show_comments{
	background: url("images/icon-com.png") !important;
}

.image_viewer_tabbar .image-viewer-share .ui-icon {
	background: url("images/cuts_send.png") 50% 50% no-repeat;
}
.image_viewer_tabbar .image-viewer-back .ui-icon {
	background: url("images/arrows1.png") 50% 50% no-repeat;
}
.image_viewer_tabbar .image-viewer-play .ui-icon {
	background: url("images/cuts_arrow_right.png") 50% 50% no-repeat;
}
.image_viewer_tabbar .image-viewer-play.image-viewer-play-active .ui-icon {
	background: url("images/stop_but.png") 50% 50% no-repeat;
}
.image_viewer_tabbar .image-viewer-forward .ui-icon {
	background: url("images/arrows2.png") 50% 50% no-repeat;
}
.image_viewer_tabbar .image-viewer-post .ui-icon {
	background: url("images/cuts_post_icon.png") 50% 50% no-repeat;
}