#wiziapp_setting_box div.inside > div {
	padding: 10px 0 10px;
	border-bottom: 1px solid grey;
}

/* Push Notification area */
div.wiziapp_push_notification p:first-child + div {
	width: 120px;
	float: left;
}
#wiziapp_push_message_edit {
	width: 110px;
	float: left;
	margin: 22px 0 0 10px;
	cursor: pointer;
}
#wiziapp_push_message_edit img {
	vertical-align: bottom;
}
#wiziapp_push_message_insert {
	display: none;
	background-color: white;
	width: 502px;
	height: 170px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
#wiziapp_push_message_insert h3 {
	text-align: center;
}
#wiziapp_push_message {
	width: 340px;
	margin: 0 auto;
	display: block;
}
#wiziapp_push_save_result {
	width: 300px;
	height: 40px;
	float: left;
	margin: 20px 20px 0;
	font: 18px Arial;
}
#wiziapp_push_message_send {
	width: 56px;
	height: 30px;
	float: left;
	margin: 20px 0 0;
	padding: 6px 25px;
	font: 20px Arial;
	background-image: url(button.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
#wiziapp_push_message_insert .close {
	background-image: url(close.png);
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

/* Post Thumbnail area */
div.wiziapp_post_thumbnail {
	border: none !important;
	overflow: hidden;
}
div.wiziapp_post_thumbnail > div {
	float: left;
}
#wiziapp_post_thumbnail_preview {
	width: 85px;
	height: 85px;
	background-color: grey;
}
div.wiziapp_manage_thumbnail {
	margin: 0 0 0 10px;
	width: 160px;
}
div.wiziapp_manage_thumbnail p {
	margin: 8px 0;
	font-size: 11px;
}
#wiziapp_upload_thumbnail {
	cursor: pointer;
}
#wiziapp_upload_thumbnail img {
	vertical-align: middle;
}
#wiziapp_upload_thumbnail + p {
	height: 17px;
}
#wiziapp_upload_thumbnail + p * {
	display: none;
}
div.wiziapp_manage_thumbnail input {
	margin: 2px 4px 0 4px;
	vertical-align: top;
}